/* Write your CSS here */
body {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  height: 100vh;
}

.cardContainer {
  border-radius: 10px;
}

h1 {
  font-size: 30px;
}

.addbutton {
  background-color: #8b5cf6;
  color: #ffffff;
}
.topImage {
  width: 300px;
}

.starredButton {
  border: 1px solid;
}
